# Ordinal And Label Encoding.

In [1]:
# import necessary libraries.
import numpy as np
import pandas as pd

In [13]:
df = pd.read_csv('customer.csv')

In [14]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

**In the data frame you can see:**
   - review and education are Ordinal Categorical Data.
   - But gender is Nominal Data.

In [15]:
# get the categorical data
df = df.iloc[:,2::]

In [16]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [17]:
# Get Input and Output Data
X = df.drop(labels=['purchased'],axis=1)

In [18]:
y = df.purchased

In [20]:
# Split the data
from sklearn.model_selection import train_test_split

In [21]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=101)

In [22]:
# Encoding of Ordinal Data
from sklearn.preprocessing import OrdinalEncoder

## Encode Ordinal Data

In [23]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

# Fit Only on Train Data 
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [24]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [26]:
# Transform Both Train and Test Data
X_train_transformed = oe.transform(X_train)
X_test_transformed = oe.transform(X_test)

In [30]:
X_train_transformed

array([[0., 1.],
       [1., 2.],
       [0., 0.],
       [0., 2.],
       [2., 0.],
       [2., 2.],
       [2., 2.],
       [1., 1.],
       [0., 1.],
       [1., 0.],
       [0., 2.],
       [2., 0.],
       [1., 1.],
       [0., 2.],
       [2., 1.],
       [2., 1.],
       [2., 0.],
       [2., 2.],
       [2., 1.],
       [2., 2.],
       [0., 2.],
       [1., 0.],
       [0., 0.],
       [1., 1.],
       [0., 2.],
       [1., 1.],
       [0., 0.],
       [1., 0.],
       [1., 0.],
       [0., 0.],
       [1., 1.],
       [2., 0.],
       [1., 0.],
       [2., 1.],
       [2., 1.],
       [2., 0.],
       [2., 0.],
       [0., 1.],
       [2., 1.],
       [0., 0.]])

## Encode Label Data
- Label Data Means the column used in prediction it will always use LabelEncoder.

In [31]:
from sklearn.preprocessing import LabelEncoder

In [32]:
le = LabelEncoder()
le.fit(y_train)

LabelEncoder()

In [33]:
# Transform Train and Test Data
y_train_transformed = le.transform(y_train)
y_test_tranformed = le.transform(y_test)

In [34]:
y_train_transformed

array([1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1])

In [35]:
y_train

16    Yes
24    Yes
7     Yes
45    Yes
18     No
3      No
41    Yes
30     No
15     No
20    Yes
43     No
38     No
44     No
39     No
10    Yes
49     No
25     No
33    Yes
36    Yes
2      No
27     No
34     No
35    Yes
8      No
19    Yes
29    Yes
12     No
5     Yes
0      No
28     No
4      No
40     No
13     No
9     Yes
48    Yes
23     No
6      No
17    Yes
11    Yes
31    Yes
Name: purchased, dtype: object